.flappy {
  z-index: 100; }

.world {
  border: 1px solid black;
  height: 500px;
  width: 500px;
  overflow: hidden;
  position: relative;
  background-image: url("../art/bg_mit.png"); }
  .world .grass {
    height: 61px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-image: url("../art/bg_grass.png"); }

.pipes {
  height: 100%; }
  .pipes .pipe {
    display: inline-block;
    width: 100px;
    height: 100%;
    position: absolute;
    z-index: 50; }
    .pipes .pipe .top {
      position: absolute;
      background-color: green;
      top: 0;
      width: 100%; }
    .pipes .pipe .bottom {
      position: absolute;
      background-color: green;
      bottom: 0;
      width: 100%; }
