$gameSize: 500px;


.flappy {
  z-index: 100;
}

.world {
  border: 1px solid black; // Don't hate me
  height: $gameSize;
  width: $gameSize;
  overflow: hidden;
  position: relative;
  background-image: url('../art/bg_mit.png');
  .grass {
    height: 61px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-image: url('../art/bg_grass.png');
  }
  .score {
    position: absolute;
    top: 0;
  }
}

.pipes {
  height: 100%;
  .pipe {
    display: inline-block;
    width: 100px;
    height: 100%;
    position: absolute;
    z-index: 50;
  .top {
    position: absolute;
    background-color: green;
    top: 0;
    width: 100%;
  }
  .bottom {
    position: absolute;
    background-color: green;
    bottom: 0;
    width: 100%;
  }
}
}
